.NavBar {
    // border-bottom: 1px solid #ccc;
    z-index: 100;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    // justify-content: space-between;
    justify-content: center;
    flex-direction: column;
    background-color: #F4F1EC;

    border-bottom: 1px solid #cfcfcf;

    .Top {
        padding: 2rem 5rem;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        .Profile{
            border:  none;
            background: none;
            cursor: pointer;
            display: block;
            .Avatar{
                height: 4.5rem;
                width: 4.5rem;
                object-fit: cover;
                object-position: center;
                border-radius: 40rem;
                
            }
        }
        .CartBtn{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;

            .Cart {
                cursor: pointer;
                border: none;
                width: 65px;
                height: 46px;
                flex-shrink: 0;
                border-radius: 46px;
                background: #e6d3ff;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                .CountItems{
                    position: absolute;
                    top: 0.6rem;
                    left: 2.6rem;
                    height: 1.5rem;
                    width: 1.5rem;
                    font-size: 0.8rem;
                    font-weight: 700;
                    border-radius: 45rem;
                    color: #fff;
                    background-color: #ff1212;
                    font-family: Plus Jakarta Sans;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

    }

    .Bottom {
        // border-top: 2px solid #ffb320;
        padding: 1.2rem 1rem;
        color: #000;
        font-family: Plus Jakarta Sans;
        font-size: 13px;
        font-style: normal;
        background: #f5f5f7;
        background: #fff;
        font-weight: 600;
        line-height: 100%;
        text-align: center;
        display: flex;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        .Code {
            color: #000;
            display: inline;
            cursor: pointer;
            font-family: Plus Jakarta Sans;
            font-size: 13px;
            font-style: normal;
            text-align: center;
            font-weight: 700;
            line-height: 160%;

            padding: 2px 2px;

            background: #ebebeb;
        }
        @media only screen and (max-width: 900px) {
            padding: 1.4rem 2rem;
        }
    }
    .LogoLink {
        .Logo {
            height: 4.5rem;
        }
    }

    .Btn {
        display: none;
        cursor: pointer;
        padding: 1.8rem 2rem;
        border: none;
        border-radius: 1rem;
        text-transform: uppercase;
        // background: #ffbc0d;
        color: #fff;
        font-family: Plus Jakarta Sans;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.25px;
        background: #303030;

        &:hover {
            background: #ffd15c;
        }
    }
}
