.addToCartBtn {
    background-color: #f8c10d;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #d9a00c;
    }
  }
  
  .cartContainer {
    display: flex;
    align-items: center;
  
    .quantityBtn {
      background-color: #f8c10d;
      color: #ffffff;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #d9a00c;
      }
    }
  
    .quantity {
      margin: 0 10px;
      font-size: 16px;
    }
  }
  